diffusers
mediapipe>=0.10.8
transformers
huggingface-hub>=0.10.0
omegaconf
einops
opencv-python
face-alignment
decord
ffmpeg-python>=0.2.0
safetensors
soundfile
DeepCache
accelerate
pytorch-lightning
librosa
imageio
imageio-ffmpeg
albumentations==1.4.24
albucore==0.0.23
kornia
insightface==0.7.3
onnxruntime-gpu==1.21.0
